*.DS_Store
kk*
*.log
*.bak
build
*.a
*.bin*
*.prev*
*.pyc
*.o
*.o.gz
*.so
*.cer*
__pycache__
.env
.make*
*.xg.*
*.swp
emsg
timings
tmp/*
*_m
DataFrame.py2k
DataFrame.py3k
rebin.py2k
NaN.old.h
rebin.py3k
sse_mathfun_test
CritSectEx/CritSectEx_wrap.cxx
CritSectEx/MSEmul.py
CritSectEx/msemul.py
CritSectEx/msemul_wrap.cxx
CritSectEx/CritSectEx.py
CritSectEx/CritSectEx_wrap.c
