*.DS_Store
kk*
*.log
*.bak
build
*.a
*.bin*
*.prev*
*.pyc
*.o
*.o.gz
*.so
*.cer*
__pycache__
.env
.make*
*.xg.*
*.swp
emsg
timings
tmp/*
*_m

DataFrame.py2k

DataFrame.py3k

rebin.py2k

NaN.old.h

rebin.py3k
